$footerBg: #000;
$footerText: #fff;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@mixin square($size, $corner) {
    min-width: $size;
    max-width: $size;
    min-height: $size;
    max-height: $size;
    border-radius: $corner;
  }
  
.social{
    .card {
        position: relative;
        background-color: #111;
        padding: 1em;
        z-index: 5;
        border-radius: 10px;
        max-width: 300px;
        transition: 200ms ease-in-out;
      }
      
      .username {
        color: #ddd;
        font-size: 0.85em;
        font-weight: 600;
      }
      
      .body {
        display: flex;
        flex-direction: column;
      }
      
      .body .text {
        margin: 0 10px 0 0;
        white-space: pre-line;
        color: #ddd;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 4px;
      }
      
      .footer {
        position: relative;
        width: 100%;
        color: #9fa4aa;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        margin-top: 10px;
      }
      
      .footer div {
        margin-right: 1rem;
        height: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      
      .footer svg {
        margin-right: 5px;
        height: 100%;
        stroke: #9fa4aa;
      }
      
      .viewer span {
        height: 20px;
        width: 20px;
        background-color: #D7FB00;
        margin-right: -6px;
        border-radius: 50%;
        border: 1px solid #111;
        display: grid;
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 8px;
        color: #111;
        padding: 2px;
      }
      
      .viewer span svg {
        stroke: #111;
      }      
}

.btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D7FB00;
    color: #D7FB00;
    @include square(80px, 500px);
    font-size: 16px;
  
    @media (min-width:768px) {
      @include square(120px, 500px);
      font-size: 20px;
    }
  
    @media (min-width:992px) {
      @include square(160px, 500px);
      font-size: 24px;
    }
  
    @media (min-width:1200px) {
      @include square(180px, 500px);
      font-size: 24px;
    }
    @media (min-width:1400px) {
      @include square(220px, 500px);
      font-size: 24px;
    }
  
    svg {
      transform: scale(1);
      transition: .4s;
      color: #111;
    }
  
    &:hover {
      i {
        transform: scale(1.2);
      }
    }
  
    &--outline {
      background-color: transparent;
      border: 3px solid white;
      color: white;
    }
    
  }
  
.sonar-emitter::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    background-color: hsl(69, 100%, 49%);
    z-index: -1;
    pointer-events: none;
    opacity: 0;
  }
  
  .sonar-emitter::after {
    animation: sonarWave 2s linear infinite;
  }
  
  
  @-webkit-keyframes sonarWave {
    from {
      opacity: 0.4;
    }
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  @keyframes sonarWave {
    from {
      opacity: 0.4;
    }
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }



  .sunshine {
    animation: sunshines 2s infinite;
  }
  
  @keyframes sunshines {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }

  .footer{
    position:relative;
    margin-top: 300px;
    color: $footerText;
    background : $footerBg;
    margin-top: auto;
    &__columns{
      display:flex;
      justify-content: space-between;
    }
    &__col{
      &-title{
        font-size: 1.6rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        display: flex;
        align-items:center;
        * ~ span{
          margin-left: 1rem;
        }
      }
    }
    a{
        display: flex;
        align-items:center;
      color: $footerText;
      text-decoration: none;    
        * ~ span{
          margin-left: 1rem;
        }
    }
    &__nav{
      &-list{
        display:flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    }
    &__copyrights{
      padding-top: 3rem;
      margin-top: 3rem;
      border-top: 1px solid rgba($footerText, 0.2);
      p{
        display:flex;
        a{
          margin-left: 0.5rem;
        }
      }
    }
    @keyframes parralax{
      0%{
       background-position: 260px;
      }
      100%{
       background-position: -10000vw;
      }
    }
    @keyframes moto{
      0%{
       transform: translateY(0) rotate(0);
      }
      5%{
       transform: translateY(0) rotate(-5deg);
      }
      25%{
       transform: translateY(60px) rotate(-20deg);
      }
      49%{
       transform: translateY(0) rotate(-1deg);
      }
      51%{
       transform: translateY(0) rotate(1deg);
      }
      75%{
       transform: translateY(60px) rotate(20deg);
      }
      80%{
       transform: translateY(60px) rotate(0deg);
      }
      98%{
       transform: translateY(0) rotate(0);
      }
    }
    @keyframes voiture{
      0%{
       transform: rotate(0);
      }
      25%{
       transform: rotate(-5deg);
      }
      50%{
       transform: rotate(0);
      }
      75%{
       transform: rotate(5deg);
      }
      100%{
       transform: rotate(0);
      }
    }
    &__parralax{
      position:absolute;
      left:0;
      top:-300px;
      height:300px;
      width: 100%;
      overflow:hidden;
      &-premierplan{      
       background-position: 260px;
      }
      &-trees,
      &-premierplan,
      &-secondplan{
        position:absolute;
        inset: 0;
        background-repeat: repeat-x;
        background-position-y: 100% !important;
        animation: parralax 600s linear infinite;
      }
      &-moto{
        position:absolute;
        bottom: 80px;
        left: 50%;
        margin-left: -250px;
        height: 200px;
        width: 150px;
        background: url(https://i.ibb.co/JCGfFJd/moto-net.gif);
        background-repeat: no-repeat;
        transform-origin: 50% 80%;
        animation: moto 5s linear infinite;
      }
      &-voiture{
        position:absolute;
        bottom: 10px;
        left: 50%;
        margin-left: 250px;
        height: 114px;
        width: 206px;
        background: url(https://i.ibb.co/0Qhp4DN/voiture-fumee.gif);
        background-repeat: no-repeat;
        animation: voiture 1s linear infinite;
      }
      &-trees{
        background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);
        bottom: -60px;
        animation-duration: 1000s;
      }
      &-premierplan{
        background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);
        animation-duration: 500s;
        //background-position-y: 27px !important;
      }
      &-secondplan{
        background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);
        animation-duration: 600s;
      }
    }
  }

  .overflow{
    background: #111;
    color: #D7FB00;
    .parallax {
        overflow: hidden;
        line-height: 0.8;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        padding: 2rem 0;
        border-bottom: 1PX solid #111;
        .scroller {
            font-weight: 600;
            letter-spacing: -1px;
            text-transform: uppercase;
            font-size: 40px;
            display: flex;
            white-space: nowrap;
            display: flex;
            flex-wrap: nowrap;
            font-family: "Clash Display", sans-serif;
            @media screen and (max-width: 768px) {
              font-size: 1.4rem;
            }
          }
          
          span {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-right: 80px;
          }
    }      
}


.voltage-button {
  position: relative;
}

.voltage-button button {
  color: white;
  background: #D7FB00;
  color: #111;
  padding: 1rem 3rem 1rem 3rem;
  // border: 5px solid #5978F3;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
}

.voltage-button button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
  opacity: 1;
}

.voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
  stroke: #D7FB00;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}
